
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* for all elements */
*{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}



/* start of css of head section */

.head{
    height: 100vh;
    width: 100%;
}

.head img{
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    position: absolute;
    filter: brightness(50%);
    z-index: -1;
}

.head h1{
    padding-top: 8%;
    color: white;
    text-align: center;
    font-size: 73px;
    animation: an-h1 3s;
    font-family: -webkit-pictograph;
    letter-spacing: 5px;
    animation-fill-mode: forwards;
}

@keyframes an-h1{
    0%{transform: scale(3);
    opacity: 0;}
    100%{transform: scale(1);
     opacity: 1;
     text-shadow: 3px 3px 3px rgb(128, 122, 122);}
}

.head #line1{
    width: 50%;
    height: 3px;
    background-color: gold;
    margin: 10px auto;
    animation: an-ln1 3s;
}

@keyframes an-ln1{
    0%{background-color: white;
    width: 0px;
    opacity: 0;}
    100%{background-color: gold;
     opacity: 1;}
}

#pp{
    color: white;
    text-align: center;
    font-size: 55px;
    animation: an-pp 5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    width: 0%;
    overflow: hidden;
    margin: auto;
    height: 70px;
    font-weight: bold;
}

@keyframes an-pp{
    0%{width: 0%;}
    100%{width: 100%;}
}

.line{
    position: absolute;
    background-color: white;
    height: 80vh;
    width: 10px;
    top: 20vh;
    right: 0%;
}
#l1{
    top: 20vh;
    left: 8vh;
    animation: an-l1-l3 4s;
}

#l2{
    top: 0vh;
    left: 13vh;
    animation: an-l2-l4 4s;
}

#l3{
    top: 20vh;
    right: 8vh;
    animation: an-l1-l3 4s;
}

#l4{
    top: 0vh;
    right: 13vh;
    animation: an-l2-l4 4s;
}

@keyframes an-l2-l4{
    0%{height: 0%;}
}
@keyframes an-l1-l3{
    0%{height: 0%;
        top: 100vh;}
}

.box{
    position: absolute;
    width: 25vh;
    height: 25vh;
    background-color: seashell;
    top: 60vh;
    opacity: 0.4;

}

#box1{
    left: 76vh;
    transform: rotate(-45deg);
    animation: an-box1 2s;
}

@keyframes an-box1{
    0%{left: -200px;
        transform: rotate(0deg);}
    75%{left: 76vh;
    transform: rotate(0deg);}
    100%{transform: rotate(-45deg);}
}

#box2{
    right: 76vh;
    animation: an-box2 2s;
    transform: rotate(45deg);
}

@keyframes an-box2{
    0%{right: -200px;
        transform: rotate(0deg);}
    75%{right: 76vh;
        transform: rotate(0deg);}
    100%{transform: rotate(45deg);}
}

.head p{
    position: absolute;
    color: black;
    top: 68vh;
    left: 77vh;
    opacity: 0;
    font-size: 40px;
    animation: an-p 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes an-p{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

#plane{
    top: 50vh;
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 2;
    animation: an-plane 5s;
    animation-fill-mode: forwards;
}

@keyframes an-plane{
    0%{ top: 70vh;
    left: -200px;}
    100%{top: 25px;
    left: 55vh;}
}
/* end of css of head section */

/* start of css of rooms section */

#roomhed{
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    position: relative;
}

body > hr{
    width: 10%;
    height: 5px;
    background-color: brown;
    transform: translateX(425%);
    margin-top: 8px;
}

#roomscon{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room{
    height: 80%;
    width: 35%;
    margin: 0px 40px;
    overflow: visible;
    position: relative;
    perspective: 2000px;
    perspective-origin: 0% 50%;
}



.text{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #324b64;
    transform: rotateY(-90deg);
    transform-origin: top left;
    transition: all .5s;
    z-index: 3;
    color: white;
}

.text h2{
    font-size: 30px;
    padding: 20px;
}

.text p{
    font-size: 20px;
    padding: 20px;
    word-spacing: 10px;
}

.text a{
    padding: 10px 10px;
    background-color: azure;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    bottom: 25%;
    right: 20%;
}

.hov{
    width: 56vh;
    position: absolute;
    bottom: -11.5%;
    font-size: 33px;
    word-spacing: 23px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #4f6a85;
    transform: rotatez(-90deg);
    transform-origin: 0% 0%;
    font-weight: bold;
    color: white;
}

.room img{
    width: 100%;
    height: 100%;
}

.room:hover .text{
    transform: rotateY(0deg);
}


/* end of css of rooms section */


#othercon{
    width: 100%;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other{
    height: 80%;
    width: 25%;
    background-color: cyan;
    margin: 0 2%;
    overflow: hidden;
    position: relative;
}

.other img{
    width: 100%;
    height: 100%;
}

.other:hover img{
    filter: brightness(20%);
}

.datacon{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.datacon h3{
    font-size: 35px;
    color: white;
    padding: 20px 20px;
    transition: all .5s;
}

.datacon p{
    font-size: 20px;
    color: white;
    padding: 20px 20px;
    transition: all .5s;
    transform: scale(0);
    opacity: 0;
}

.datacon .btn{
    position: absolute;
    width: 35%;
    height: 9%;
    bottom: 10%;
    right: 20%;
    transform: translateY(250%);
    transition: all .5s;
}

.datacon .btn :first-child{
    width: 20%;
    height: 100%;
    position: absolute;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
    border-radius: 50%;
    background-color: white;
    color: black;
    transition: all .5s;
}

.datacon .btn :last-child{
    width: 70%;
    height: 100%;
    right: 0%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    transition: all .5s;
}

.datacon .btn:hover{
    border-radius: 20px;
    cursor: pointer;
}

.datacon .btn:hover :first-child{
    width: 100%;
    border-radius: 0px;
}

.datacon .btn:hover :last-child{
    color: black;
    right: 5%;
}

.other:hover .btn{
    transform: translateY(0%);
}

.other:hover .datacon p{
    transform: scale(1);
    opacity: 1;
}

.other:hover .datacon h3{
    padding: 50px 20px;
}


#subcon{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(2px);
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: -100;
    opacity: 0;
}

#subcon.active{
    opacity: 1;
    z-index: 100;
}

#sub{
    width: 30%;
    height: 70%;
    background-color: white;
    z-index: 101;
}

#subbtn{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    top: 17%;
    right: 36%;
}

#subbtn:hover{
    cursor: pointer;
}


#subbtn #line1, #subbtn #line2{
    position: absolute;
    width: 80%;
    height: 3px;
    top: 50%;
    left: 50%;
    background-color: black;
}

#subbtn #line1{
    transform: translate(-50%,-50%) rotateZ(45deg);
}

#subbtn #line2{
    transform: translate(-50%,-50%) rotateZ(-45deg);
}

#subcon h1{
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}

#subcon h2{
    text-align: center;
}

#subcon #emailin{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    height: 30%;
}

#subcon #emailin input{
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding-left: 5px;
    transform: translateX(5%);
}

#subcon #emailin .fa-envelope{
    font-size: 33px;
}

#sub > input{
    padding: 10px;
    cursor: pointer;
    margin: 80px auto;
    display: block;
    border-radius: 10px;
    font-size: 18px;
}

#contactcon{
    height: 80vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#map{
    width: 50%;
    height: 80%;
    border-radius: 20px;
}

#contactform{
    width: 40%;
    height: 80%;
    background-color: #086A87;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

#contactform input{
    width: 70%;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}


#contactform textarea{
    width: 70%;
    height: 100px;
    padding: 20px;
    outline: none;
    font-size: 18px;
}

#contactform input[type="submit"]{
    width: 30%;
    height: 40px;
    padding: 0%;
    border-radius: 5px;
}

#foot{
    width: 100%;
    height: 40vh;
    background-color: #2E2E2E;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#foot > div{
    width: 20%;
    height: 85%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 20px;
}

#foot #subs{
    width: 30%;
    align-items: center;
}

#foot h2{
    font-size: 22px;
}

#foot p{
    font-size: 19px;
}

#foot a{
    font-size: 19px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: all .5s;
}

#foot a::after{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: white;
    transition: all .5s;
}

#foot a:hover::after{
    width: 100%;
}

#foot a:hover{
    transform: translateX(5%);}

#foot #subs input[type="email"]{
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(167, 158, 158);
}


#foot #subs input[type="submit"]{
    display: block;
    width: 40%;
    height: 40px;
    transform: translate(80%, 20%);
    border-radius: 5px;
    cursor: pointer;
}

#foot #subs input[type="submit"]:active{
    transform: translate(80%, 20%) scale(.9);
}

#foot #subs > div{
    transform: translateY(-15%);
    overflow : visible;
}


