*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif;
}

section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 30%;
}

#tall
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img_todo/bckimg2.jpg");
}

section .use
{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

section .use .box
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

section .use:hover .box
{
    transform:rotateY(180deg)
}

section .use .box .imgbx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

section .use .box .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

section .use .box .contentbx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

section .use .box .contentbx div
{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #fe0061, yellow );
    transform: translateZ(100px);
}

section .use .box .contentbx div h2
{
    color: blanchedalmond;
    font-size: 20px;
    letter-spacing: 1px;
}

section .use .box .contentbx div p
{
    color: blanchedalmond;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
