*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto' , sans-serif;
}

#dep{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img_todo/bckimg.jpg");
  flex-wrap: wrap;
}

.card 
{
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20x 40px black;
  transition: 1s;
  margin: 0px 120px;
  border-radius: 5px;
}

.card:hover
{
  transform: translateX(50%);
  margin: 0px 70px ;
}

.card .imgbox
{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background: #000;
  transition: 1s;
  box-shadow: 10px 20x 40px black;
}

.card:hover .imgbox
{
  transform: rotateY(-180deg);
}

.card .imgbox img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card .imgbox img:nth-child(2)
{
  transform: rotateY(180deg);
}

.card .details
{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .details .content
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card .details .content h2
{
   text-align: center;
   font-weight: 700;
   line-height: 1em;
}

.card .details .content h2 span
{
  color: red;
  font-size: 0.6em;
  font-family: 'Times New Roman', Times, serif;
}

.card .details .content .social-icons
{
  position: relative;
  display: flex;
  margin: 10px;
}

.card .details .content .social-icons a
{
  display: inline-block;
  width: 100px;
  height: 35px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
  transition: 0.2s;
}

.card .details .content .social-icons a:hover
{
  background: red;

}

